<nav>
    <ul>
        <li>
            <a href="/"><strong>WealthIQ</strong></a>
        </li>
    </ul>
    <ul>
        <li>
            <details class="dropdown">
                <summary style="margin-left:3em;">
                    Tools
                </summary>
                <div class="container-fluid" style="margin-right:4em;">
                    <aside  style="position:absolute;
                            background-color: rgba(19,23,31,0.8);
                            padding:10px;
                            border-radius: 5px;">
                        <ul dir="ltr">
                            <li><a href="/investments">Investments</a></li>
                            <li><a href="/cdb">CDB</a></li>
                            <li><a href="/shopping">Shopping</a></li>
                            <li><a href="/calc">Calculators</a></li>
                        </ul>
                    </aside>
                </div>
            </details>
        </li>
    </ul>
</nav>